#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:sys.boot_completed=1
   copy /proc/driver/dualcam_cali /data/vendor/camera/dualcam_cali
   copy /vendor/factory/dualcam_cali.bin /data/vendor/camera/dualcam_cali.bin
   chmod 0755 /data/vendor/camera/dualcam_cali.bin
   chmod 0755 /data/vendor/camera/dualcam_cali
   chmod 0644 /vendor/factory/dualcam_cali.bin

service vendor.camera-provider-2-5 /vendor/bin/hw/android.hardware.camera.provider@2.5-service_64
    override
    interface android.hardware.camera.provider@2.4::ICameraProvider legacy/0
    interface android.hardware.camera.provider@2.5::ICameraProvider legacy/0
    interface vendor.asus.bspcam@1.0::IAsusBspCameraInterface default
    interface vendor.qti.hardware.camera.postproc@1.0::IPostProcService camerapostprocservice
    class hal
    user cameraserver
    group audio camera input drmrpc oem_2907
    ioprio rt 4
    capabilities SYS_NICE
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/foreground/tasks
