#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on post-fs-data
    chown system audio /mnt/vendor/persist/audio/rcv_cal_val
    chown system audio /mnt/vendor/persist/audio/spk_cal_val

on property:vendor.audio.in_call=*
    write /sys/class/asuslib/in_call ${vendor.audio.in_call}
    write /sys/class/sensors/psensor/oil_flag ${vendor.audio.in_call}
    write /sys/devices/platform/soc/990000.i2c/i2c-1/1-0038/fts_phone_state ${vendor.audio.in_call}
