#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on fs
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/seq
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/brightness
