on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm

service vendor.livedisplay-hal /vendor/bin/hw/vendor.lineage.livedisplay-service.sake
    class late_start
    user system
    group system
