on post-fs
    chown system system /sys/class/leds/vibrator/mem_play
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/activate

    write /sys/class/leds/vibrator/vmax 28

on property:service.bootanim.exit=0
    write /sys/class/leds/vibrator/boot_vibrator 1

service vendor.sake.vibrator /vendor/bin/hw/android.hardware.vibrator.service.sake
    class hal
    user system
    group system input
